.feed__wrapper{
    position: absolute;
    top:55%;
    left:55.5%;
    transform: translate(-50%, -50%);

    
    height: 90%;
    width:87%;
    
}

.grid-videos__wrapper{
    display: grid;
    grid-template-columns: repeat(5,300px);
    padding: 20px;
    gap: 30px;
}

.videos__wrapper{
    
    width: 300px;
}

.videos__wrapper button{
    background-color: transparent;
    border: none;
    text-align: start;
    cursor: pointer;
    transition: all .5s ease-in;
}

.videos__wrapper button:hover{
    box-shadow: rgba(0, 0, 0, 0.9) -2px 5px 15px 5px;
    transform: scale(1.1);
    background-color: transparent;
    border: none;
    transition: all .5s ease-in;
}

.anchor-video{
    text-decoration: none;
}

.videos-image{
    width: 300px;
    border-radius: 10px;
    object-fit: contain;
}


.snippet-title__text{
    color: #f3f3f3;
    font-weight: bold;
    padding: 5px;
}

.snippet-channelName__text{
    color: rgba(244, 244, 244, 0.5);
    font-size: 14px;
    padding: 5px;
}

.loading{
    height: 30px;
    width: 30px;
    border: 1px solid #f3f3f3;
    border-right: 2px dotted grey;
    border-radius: 50px;
    animation: loading-animation 1s infinite;

    position: absolute;
    top: 30%;
    left: 43%;
    transform: translate(-50%, -50%);
}

@keyframes loading-animation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}